@import url('https://fonts.googleapis.com/css?family=Roboto');


/* body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  margin-left: 5%;
} */
.icon {
  padding:0 2% 0 5%;
  width: 15px;
  height: 15px;
}
/* .controls{
  display:flex;
  justify-content: space-around;
} */

/* .btn {
  display: inline-block;
  background: white;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: blueviolet solid 1px ;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
}
.btn:hover {
  background-color: skyblue;
} */

/* .grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
} */

/* .albums {
  display: flex;
  align-content: space-around;
  justify-content: flex-start;
  

} */

/* .content {
  height: 100vh;
  overflow: auto;
  padding: 20px;
  margin-top:30%;
  margin-left: 10%;
  margin-right: 20px;
  padding-bottom: 30px;
  background-color: palegoldenrod;
  
} */
